.gallery {
    position: relative;
    display: inline-block;
    margin: 5px;
    border: 1px solid #ccc;
    font-size: 0;
}

.gallery .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    background-color: #fff;
    padding: 5px 2px 2px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.2;
    text-align: center;
    font-size: 22px;
    line-height: 10px;
    border-radius: 50%;
}

.gallery:hover .close {
    opacity: 1;
}
